{%extends 'website/basic.html' %}
{% load static %}
{%block title%}Contact Us {%endblock%}
{% block contact%}active {%endblock%}

{%block body%}

<style>


		body {
			font-family: Arial, sans-serif;
		}

		h1 {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 50px;
		}

		form {
			margin-top: 50px;
		}

		textarea {
			resize: none;
		}

		.footer {
		  margin-top: 50px;
		  background-color: #f8f9fa;
		  color: #666;
		  padding: 20px 0;
		  font-size: 14px;
		}

		.footer a {
		  color: #666;
		  text-decoration: none;
		}

		.footer a:hover {
		  color: #007bff;
		}

		.footer i {
		  color: #007bff;
		}

		.footer .social-icons i {
		  margin-right: 10px;
		}

		.footer .contact-info i {
		  margin-right: 10px;
		  width: 20px;
		}

		@media (max-width: 768px) {
		  .footer .col-md-6 {
		    text-align: center;
		    margin-bottom: 20px;
		  }
		}
</style>

<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Contact Us</h1> 
				<form action="{% url 'contact'%}" method="POST">
				{% csrf_token %}
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
					</div>
					<div class="form-group">
						<label for="message">Message:</label>
						<textarea class="form-control" rows="5" id="message" placeholder="Enter your message" name="message" required></textarea>
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
		</div>
				{% for msg in messages %}
				    <div class="alert alert-{{msg.tags}}" style="width:50%" role="alert">
				       {{ msg }}
				    </div>
			  	{% endfor %}
	</div>

	  <footer class="bg-light py-3 footer">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6">
		        <p style="font-size: 120%;">&copy; 2023 CitiWaste</p>
		      </div>
		      <div class="col-md-6 text-right">
		        <a href="/">Home</a> | <a href="/contact">Contact Us</a> | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
		        <br>
		        <a href="https://www.facebook.com/ourcompany"><i class="fab fa-facebook fa-lg mx-2"></i></a>
		        <a href="https://twitter.com/ourcompany"><i class="fab fa-twitter fa-lg mx-2"></i></a>
		        <a href="https://www.instagram.com/ourcompany"><i class="fab fa-instagram fa-lg mx-2"></i></a>
		        <br>
		        <i class="fas fa-phone-alt mx-2"></i> 555-555-5555
		        <br>
		        <i class="fas fa-envelope mx-2"></i> info@ourcompany.com
		      </div>
		    </div>
		  </div>
	   </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% endblock %}